body {
    font-family: 'Arial', sans-serif;
}

h1 {
    color: #ff6347; 
}

.stFileUploader {
    border: 2px solid #ff6347;
    border-radius: 5px;
    background-color: #fffaf0; 
}

.stButton>button {
    color: white;
    background-color: #ff6347;
    border-radius: 5px;
    border: none;
    padding: 10px 24px;
    margin: 10px 0;
    cursor: pointer;
}

.stMarkdown {
    font-size: 16px;
}
